{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{% static "css/home.css" %}" rel="stylesheet">
	<script src="{% static "js/paper.js" %}" type="text/javascript"></script>
	<script type="text/paperscript" canvas="myCanvas">
	var Ball = function(point, vector) {
	if (!vector || vector.isZero()) {
		this.vector = Point.random() * 5;
	} else {
		this.vector = vector * 2;
	}
	this.point = point;
	this.dampen = 0.1;
	this.gravity = 1;
	this.bounce = -0.5;

	var color = {
		hue: Math.random() * 360,
		saturation: 1,
		brightness: 1
	};
	var gradient = new Gradient([color, 'black'], true);

	var radius = this.radius = 20 * Math.random() + 10;
	// Wrap CompoundPath in a Group, since CompoundPaths directly
	// applies the transformations to the content, just like Path.
	var ball = new CompoundPath({
		children: [
			new Path.Circle({
				radius: radius
			}),
			new Path.Circle({
				center: radius / 8,
				radius: radius / 3
			})
		],
		fillColor: new Color(gradient, 0, radius, radius / 8),
	});

	this.item = new Group({
		children: [ball],
		transformContent: false,
		position: this.point
	});
}

Ball.prototype.iterate = function() {
	var size = view.size;
	this.vector.y += this.gravity;
	this.vector.x *= 0.99;
	var pre = this.point + this.vector;
	if (pre.x < this.radius || pre.x > size.width - this.radius)
		this.vector.x *= -this.dampen;
	if (pre.y < this.radius || pre.y > size.height - this.radius) {
		if (Math.abs(this.vector.x) < 3)
			this.vector = Point.random() * [150, 100] + [-75, 20];
		this.vector.y *= this.bounce;
	}

	var max = Point.max(this.radius, this.point + this.vector);
	this.item.position = this.point = Point.min(max, size - this.radius);
	this.item.rotate(this.vector.x);
};


var balls = [];
for (var i = 0; i < 10; i++) {
	var position = Point.random() * view.size,
		vector = (Point.random() - [0.5, 0]) * [50, 100],
		ball = new Ball(position, vector);
	balls.push(ball);
}



var lastDelta;
function onMouseDrag(event) {
	lastDelta = event.delta;
}

function onMouseUp(event) {
	var ball = new Ball(event.point, lastDelta);
	balls.push(ball);
	lastDelta = null;
}

function onFrame() {
	for (var i = 0, l = balls.length; i < l; i++)
		balls[i].iterate();
}



</script>

</head>
<body id="body">
<canvas id="myCanvas" ></canvas>
	<div class="grid">


		<div id="Name"><span>SRIKANTH BASHABOINA</span><br/><br/><br/>
			<div id="con"><a href="{% url 'blog:about' %}">&#10042;Know More</a></div></div>
		<div id="foot"><p class="foo">  copyright &copy; Srikanth Bashaboina, 2017 All rights reserved.</p></div>
	</div>
</body>
</html>
